source/jade/grammar-practice-07.jade
extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        .c-grammar-practice-info.mb-10
            h2.heading-primary.text-center.mb-2
                span.bg-yellow-dark.text-big Enough - Level 2 - Exercise 1
            p
                | Chọn từ có cách đọc đuôi #[strong s/es] khác với các từ còn lại.
        
        .c-grammar-practice-check
            .c-grammar-practice-check__item
                .card-grammar-practice-check   
                    .card-grammar-practice-check__item
                        label
                            h5 A. bakes
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 B. keeps
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 C. loses
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 D. hates
                            .custom-checkbox
                                input(type="checkbox")
                                span
            .c-grammar-practice-check__item
                .card-grammar-practice-check   
                    .card-grammar-practice-check__item
                        label
                            h5 A. bakes
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 B. keeps
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 C. loses
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 D. hates
                            .custom-checkbox
                                input(type="checkbox")
                                span
            .c-grammar-practice-check__item
                .card-grammar-practice-check   
                    .card-grammar-practice-check__item
                        label
                            h5 A. bakes
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 B. keeps
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 C. loses
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 D. hates
                            .custom-checkbox
                                input(type="checkbox")
                                span
            .c-grammar-practice-check__item
                .card-grammar-practice-check   
                    .card-grammar-practice-check__item
                        label
                            h5 A. bakes
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 B. keeps
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 C. loses
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 D. hates
                            .custom-checkbox
                                input(type="checkbox")
                                span
                            

        .mt-10.text-center
            button.btn.btn-yellow-dark.btn--big.btn--rounded.text-dark(type="button") SUBMIT

build/grammar-practice-07.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <title>title</title>
    <link rel="icon" href="./img/favicon.png">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&amp;family=Prompt:ital,wght@0,400;0,500;0,600;1,400&amp;display=swap" rel="stylesheet">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Style from all library-->
    <link rel="stylesheet" href="./css/vendor.min.css">
    <!-- Site template-->
    <link rel="stylesheet" href="./css/main.css"><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on"><![endif]-->
  </head>
  <body>
    <div class="l-container">
      <!-- START HEADER-->
      <div class="l-header">
        <div class="container">
          <div class="c-header">
            <div class="c-header__logo"><a href="./"><img src="./img/logo.png" alt=""></a></div>
            <div class="c-header__more">
              <div class="c-header__users mb-4"><a href="#" class="btn btn-primary text-uppercase mr-5">Đăng ký</a><a href="#" class="btn btn-primary text-uppercase">Đăng nhập</a></div>
              <div class="c-header__social">
                <div class="c-social">
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-google-plus-g"></i></a></div>
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-facebook-f"></i></a></div>
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-instagram"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-navbar">
            <ul class="navbar">
              <li class="active"><a href="./index.html"><i class="fas fa-home"></i></a></li>
              <li><a href="#">Video bài giảng</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Học từ vựng</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Từ điển</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Nền tảng</a></li>
              <li><a href="#">4.5 ielts</a></li>
              <li><a href="#">5.5 ielts</a>
                <div class="navsub navsub--right">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">6.5 ielts</a>
                <div class="navsub navsub--right">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Toic</a></li>
            </ul>
          </div>
          <div><a href="#"><img src="./img/banners/banner-01.jpg" alt="" class="img--full"></a></div>
        </div>
      </div>
      <!-- CLOSE HEADER-->
      <!-- START CONTENT-->
      <div class="l-content">
        <div class="container">
          <div class="c-breadcrumb mb-4">
            <ul class="breadcrumb">
              <li><a href="./lessons.html">Học ngữ pháp</a></li>
              <li><span>Thực hành bài 1</span></li>
            </ul>
          </div>
          <div class="c-grammar-practice-info mb-10">
            <h2 class="heading-primary text-center mb-2"><span class="bg-yellow-dark text-big">Enough - Level 2 - Exercise 1</span></h2>
            <p>Chọn từ có cách đọc đuôi <strong>s/es</strong> khác với các từ còn lại.</p>
          </div>
          <div class="c-grammar-practice-check">
            <div class="c-grammar-practice-check__item">
              <div class="card-grammar-practice-check">  
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>A. bakes</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>B. keeps</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>C. loses</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>D. hates</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="c-grammar-practice-check__item">
              <div class="card-grammar-practice-check">  
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>A. bakes</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>B. keeps</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>C. loses</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>D. hates</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="c-grammar-practice-check__item">
              <div class="card-grammar-practice-check">  
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>A. bakes</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>B. keeps</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>C. loses</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>D. hates</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="c-grammar-practice-check__item">
              <div class="card-grammar-practice-check">  
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>A. bakes</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>B. keeps</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>C. loses</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
                <div class="card-grammar-practice-check__item">
                  <label>
                    <h5>D. hates</h5>
                    <div class="custom-checkbox">
                      <input type="checkbox"><span></span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 text-center">
            <button type="button" class="btn btn-yellow-dark btn--big btn--rounded text-dark">SUBMIT</button>
          </div>
        </div>
      </div>
      <!-- CLOSE CONTENT-->
      <!-- START FOOTER-->
      <div class="l-footer">
        <div class="container">
          <div class="c-footer-sitemap">
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Content</h6>
                <ul>
                  <li><a href="#">Top icons</a></li>
                  <li><a href="#">New icons</a></li>
                  <li><a href="#">New packs</a></li>
                  <li><a href="#">Tags</a></li>
                  <li><a href="#">Categories</a></li>
                  <li><a href="#">Authors</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Apps</h6>
                <ul>
                  <li><a href="#">API</a></li>
                  <li><a href="#">@font-face generator</a></li>
                  <li><a href="#">Patterns generator</a></li>
                  <li><a href="#">Google Suite</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Content</h6>
                <ul>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Icon styles</a></li>
                  <li><a href="#">Icons editor</a></li>
                  <li><a href="#">Flaticon Collection</a></li>
                  <li><a href="#">Follow</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Company</h6>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Our license</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Affiliation</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Plans and Pricing</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="c-footer-infor">
            <p>TiếngAnh123.Com - a product of BeOnline Co., Ltd.</p>
            <p>Giấy phép ĐKKD số: 0102852740 cấp bởi Sở Kế hoạch và Đầu tư Hà Nội.<br>Giấy phép đào tạo tiếng Anh số: 9816/QĐ-SGD&amp;ĐT cấp bởi Sở Giáo dục và Đào tạo Hà Nội.<br>Giấy phép cung cấp dịch vụ mạng xã hội học tiếng Anh trực tuyến số: 549/GP-BTTTT cấp bởi Bộ Thông tin &amp; Truyền thông.<br>Địa chỉ: số nhà 13,23, ngõ 259/9 phố Vọng, Đồng Tâm, Hai Bà Trưng, Hà Nội.</p>
          </div>
        </div>
      </div>
      <!-- CLOSE FOOTER-->
    </div>
    <!-- Jquery library-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Javascript form all library-->
    <script src="./js/vendor.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Site Javascript-->
    <script src="./js/scripts.js"></script>
  </body>
</html>
