source/jade/grammar-practice.jade
extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        
        .c-grammar-practice.mt-12
            .c-grammar-practice__item
                a.card-grammar-practice(href="./grammar-practice-01.html")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-01.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 1
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 1
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này
            .c-grammar-practice__item
                a.card-grammar-practice(href="./grammar-practice-02.html")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-02.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 2
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 2
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này
            .c-grammar-practice__item
                a.card-grammar-practice(href="./grammar-practice-03.html")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-03.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 3
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 3
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này
            .c-grammar-practice__item
                a.card-grammar-practice(href="./grammar-practice-04.html")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-04.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 4
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 4
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này
            .c-grammar-practice__item
                a.card-grammar-practice(href="#")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-05.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 5
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 5
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này
            .c-grammar-practice__item
                a.card-grammar-practice(href="#")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-06.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 6
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 6
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này

        .text-center
            a.btn.btn-clear.text-big.text-dark(href="#") Tới bài thực hành

build/grammar-practice.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <title>title</title>
    <link rel="icon" href="./img/favicon.png">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&amp;family=Prompt:ital,wght@0,400;0,500;0,600;1,400&amp;display=swap" rel="stylesheet">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Style from all library-->
    <link rel="stylesheet" href="./css/vendor.min.css">
    <!-- Site template-->
    <link rel="stylesheet" href="./css/main.css"><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on"><![endif]-->
  </head>
  <body>
    <div class="l-container">
      <!-- START HEADER-->
      <div class="l-header">
        <div class="container">
          <div class="c-header">
            <div class="c-header__logo"><a href="./"><img src="./img/logo.png" alt=""></a></div>
            <div class="c-header__more">
              <div class="c-header__users mb-4"><a href="#" class="btn btn-primary text-uppercase mr-5">Đăng ký</a><a href="#" class="btn btn-primary text-uppercase">Đăng nhập</a></div>
              <div class="c-header__social">
                <div class="c-social">
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-google-plus-g"></i></a></div>
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-facebook-f"></i></a></div>
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-instagram"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-navbar">
            <ul class="navbar">
              <li class="active"><a href="./index.html"><i class="fas fa-home"></i></a></li>
              <li><a href="#">Video bài giảng</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Học từ vựng</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Từ điển</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Nền tảng</a></li>
              <li><a href="#">4.5 ielts</a></li>
              <li><a href="#">5.5 ielts</a>
                <div class="navsub navsub--right">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">6.5 ielts</a>
                <div class="navsub navsub--right">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Toic</a></li>
            </ul>
          </div>
          <div><a href="#"><img src="./img/banners/banner-01.jpg" alt="" class="img--full"></a></div>
        </div>
      </div>
      <!-- CLOSE HEADER-->
      <!-- START CONTENT-->
      <div class="l-content">
        <div class="container">
          <div class="c-breadcrumb mb-4">
            <ul class="breadcrumb">
              <li><a href="./lessons.html">Học ngữ pháp</a></li>
              <li><span>Thực hành bài 1</span></li>
            </ul>
          </div>
          <div class="c-grammar-practice mt-12">
            <div class="c-grammar-practice__item"><a href="./grammar-practice-01.html" class="card-grammar-practice">
                <div class="card-grammar-practice__image"><img src="./img/grammar/thumbnail-01.jpg" alt=""></div>
                <div class="card-grammar-practice__header">
                  <div class="card-grammar-practice__number">
                    <div class="card-grammar-practice__no">1</div>
                  </div>
                  <div class="card-grammar-practice__title">Present simple <br>Level 1<br>Exercise 1</div>
                </div>
                <div class="card-grammar-practice__body">
                  <h6><span>Bạn chưa làm bài này</span></h6>
                </div></a></div>
            <div class="c-grammar-practice__item"><a href="./grammar-practice-02.html" class="card-grammar-practice">
                <div class="card-grammar-practice__image"><img src="./img/grammar/thumbnail-02.jpg" alt=""></div>
                <div class="card-grammar-practice__header">
                  <div class="card-grammar-practice__number">
                    <div class="card-grammar-practice__no">2</div>
                  </div>
                  <div class="card-grammar-practice__title">Present simple <br>Level 1<br>Exercise 2</div>
                </div>
                <div class="card-grammar-practice__body">
                  <h6><span>Bạn chưa làm bài này</span></h6>
                </div></a></div>
            <div class="c-grammar-practice__item"><a href="./grammar-practice-03.html" class="card-grammar-practice">
                <div class="card-grammar-practice__image"><img src="./img/grammar/thumbnail-03.jpg" alt=""></div>
                <div class="card-grammar-practice__header">
                  <div class="card-grammar-practice__number">
                    <div class="card-grammar-practice__no">3</div>
                  </div>
                  <div class="card-grammar-practice__title">Present simple <br>Level 1<br>Exercise 3</div>
                </div>
                <div class="card-grammar-practice__body">
                  <h6><span>Bạn chưa làm bài này</span></h6>
                </div></a></div>
            <div class="c-grammar-practice__item"><a href="./grammar-practice-04.html" class="card-grammar-practice">
                <div class="card-grammar-practice__image"><img src="./img/grammar/thumbnail-04.jpg" alt=""></div>
                <div class="card-grammar-practice__header">
                  <div class="card-grammar-practice__number">
                    <div class="card-grammar-practice__no">4</div>
                  </div>
                  <div class="card-grammar-practice__title">Present simple <br>Level 1<br>Exercise 4</div>
                </div>
                <div class="card-grammar-practice__body">
                  <h6><span>Bạn chưa làm bài này</span></h6>
                </div></a></div>
            <div class="c-grammar-practice__item"><a href="#" class="card-grammar-practice">
                <div class="card-grammar-practice__image"><img src="./img/grammar/thumbnail-05.jpg" alt=""></div>
                <div class="card-grammar-practice__header">
                  <div class="card-grammar-practice__number">
                    <div class="card-grammar-practice__no">5</div>
                  </div>
                  <div class="card-grammar-practice__title">Present simple <br>Level 1<br>Exercise 5</div>
                </div>
                <div class="card-grammar-practice__body">
                  <h6><span>Bạn chưa làm bài này</span></h6>
                </div></a></div>
            <div class="c-grammar-practice__item"><a href="#" class="card-grammar-practice">
                <div class="card-grammar-practice__image"><img src="./img/grammar/thumbnail-06.jpg" alt=""></div>
                <div class="card-grammar-practice__header">
                  <div class="card-grammar-practice__number">
                    <div class="card-grammar-practice__no">6</div>
                  </div>
                  <div class="card-grammar-practice__title">Present simple <br>Level 1<br>Exercise 6</div>
                </div>
                <div class="card-grammar-practice__body">
                  <h6><span>Bạn chưa làm bài này</span></h6>
                </div></a></div>
          </div>
          <div class="text-center"><a href="#" class="btn btn-clear text-big text-dark">Tới bài thực hành</a></div>
        </div>
      </div>
      <!-- CLOSE CONTENT-->
      <!-- START FOOTER-->
      <div class="l-footer">
        <div class="container">
          <div class="c-footer-sitemap">
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Content</h6>
                <ul>
                  <li><a href="#">Top icons</a></li>
                  <li><a href="#">New icons</a></li>
                  <li><a href="#">New packs</a></li>
                  <li><a href="#">Tags</a></li>
                  <li><a href="#">Categories</a></li>
                  <li><a href="#">Authors</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Apps</h6>
                <ul>
                  <li><a href="#">API</a></li>
                  <li><a href="#">@font-face generator</a></li>
                  <li><a href="#">Patterns generator</a></li>
                  <li><a href="#">Google Suite</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Content</h6>
                <ul>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Icon styles</a></li>
                  <li><a href="#">Icons editor</a></li>
                  <li><a href="#">Flaticon Collection</a></li>
                  <li><a href="#">Follow</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Company</h6>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Our license</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Affiliation</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Plans and Pricing</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="c-footer-infor">
            <p>TiếngAnh123.Com - a product of BeOnline Co., Ltd.</p>
            <p>Giấy phép ĐKKD số: 0102852740 cấp bởi Sở Kế hoạch và Đầu tư Hà Nội.<br>Giấy phép đào tạo tiếng Anh số: 9816/QĐ-SGD&amp;ĐT cấp bởi Sở Giáo dục và Đào tạo Hà Nội.<br>Giấy phép cung cấp dịch vụ mạng xã hội học tiếng Anh trực tuyến số: 549/GP-BTTTT cấp bởi Bộ Thông tin &amp; Truyền thông.<br>Địa chỉ: số nhà 13,23, ngõ 259/9 phố Vọng, Đồng Tâm, Hai Bà Trưng, Hà Nội.</p>
          </div>
        </div>
      </div>
      <!-- CLOSE FOOTER-->
    </div>
    <!-- Jquery library-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Javascript form all library-->
    <script src="./js/vendor.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Site Javascript-->
    <script src="./js/scripts.js"></script>
  </body>
</html>
