source/jade/lessons.jade
extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="#") Học bài 1
        .c-lessons
            .c-lessons__item
                .c-lessons__main
                    .card-lesson
                        .card-lesson__image
                            img(src="./img/lessons/lesson-01/lesson-thumbnail.jpg", alt="")
                        .card-lesson__content
                            .card-lesson__header
                                h4.text-uppercase.font-weight-normal Bài giảng bài 1
                            .card-lesson__body
                                h4.text-uppercase Từ vựng
                            .card-lesson__footer
                                a.btn.btn-dark(href="./vocabulary.html") Học ngay
                .c-lessons__side
                    .card-lesson__content
                        .card-lesson__header
                            h4.text-uppercase.font-weight-normal Bài giảng bài 1
                        .card-lesson__body
                            h4.text-uppercase Thực hành từ vựng
                        .card-lesson__footer
                            a.btn.btn-dark(href="#") Điểm: 0/30
            .c-lessons__item
                .c-lessons__main
                    .card-lesson
                        .card-lesson__image
                            img(src="./img/lessons/lesson-02/lesson-thumbnail.jpg", alt="")
                        .card-lesson__content
                            .card-lesson__header
                                h4.text-uppercase.font-weight-normal Bài giảng bài 1
                            .card-lesson__body
                                h4.text-uppercase Ngữ pháp phần 1
                                p
                                    i The present simple
                            .card-lesson__footer
                                a.btn.btn-dark(href="./grammar.html") Học ngay
                .c-lessons__side
                    .card-lesson__content
                        .card-lesson__header
                            h4.text-uppercase.font-weight-normal Bài tập bài 1
                        .card-lesson__body
                            h4.text-uppercase Thực hành ngữ pháp 1
                            p
                                i The present simple
                        .card-lesson__footer
                            a.btn.btn-dark(href="#") Điểm: 0/30
            .c-lessons__item
                .c-lessons__main
                    .card-lesson
                        .card-lesson__image
                            img(src="./img/lessons/lesson-03/lesson-thumbnail.jpg", alt="")
                        .card-lesson__content
                            .card-lesson__header
                                h4.text-uppercase.font-weight-normal Bài giảng bài 1
                            .card-lesson__body
                                h4.text-uppercase Ngữ pháp phần 2
                                p
                                    i The present simple
                            .card-lesson__footer
                                a.btn.btn-dark(href="#") Học ngay
                .c-lessons__side
                    .card-lesson__content
                        .card-lesson__header
                            h4.text-uppercase.font-weight-normal Bài tập bài 1
                        .card-lesson__body
                            h4.text-uppercase Thực hành ngữ pháp 2
                            p
                                i The present simple
                        .card-lesson__footer
                            a.btn.btn-dark(href="#") Điểm: 0/30
            .c-lessons__item
                .c-lessons__main
                    .card-lesson
                        .card-lesson__image
                            img(src="./img/lessons/lesson-04/lesson-thumbnail.jpg", alt="")
                        .card-lesson__content
                            .card-lesson__header
                                h4.text-uppercase.font-weight-normal Bài giảng bài 1
                            .card-lesson__body
                                h4.text-uppercase Ngữ pháp phần 3
                                p
                                    i The present simple
                            .card-lesson__footer
                                a.btn.btn-dark(href="#") Học ngay
                .c-lessons__side
                    .card-lesson__content
                        .card-lesson__header
                            h4.text-uppercase.font-weight-normal Bài tập bài 1
                        .card-lesson__body
                            h4.text-uppercase Thực hành ngữ pháp 3
                            p
                                i The present simple
                        .card-lesson__footer
                            a.btn.btn-dark(href="#") Điểm: 0/30
        .c-improve-skills
            .c-improve-skills__header
                h2.heading-primary.text-uppercase.mb-10
                    span Luyện kỹ năng
            .c-improve-skills__body
                .list-skills
                    .list-skills__item
                        .card-skill
                            .card-skill__header
                                img(src="./img/icons/icon-listen.png", alt="")
                            .card-skill__body
                                h4 Nghe
                                p Nghe chủ đề bạn bè và
                                    br
                                    | giới thiệu bản thân
                            .card-skill__footer
                                a.btn.btn-primary(href="#") Bạn chưa làm bài này
                    .list-skills__item
                        .card-skill
                            .card-skill__header
                                img(src="./img/icons/icon-read.png", alt="")
                            .card-skill__body
                                h4 Đọc
                                p Nghe chủ đề bạn bè và
                                    br
                                    | giới thiệu bản thân
                            .card-skill__footer
                                a.btn.btn-primary(href="#") Bạn chưa làm bài này
                    .list-skills__item
                        .card-skill
                            .card-skill__header
                                img(src="./img/icons/icon-write.png", alt="")
                            .card-skill__body
                                h4 Viết
                                p Nghe chủ đề bạn bè và
                                    br
                                    | giới thiệu bản thân
                            .card-skill__footer
                                a.btn.btn-primary(href="#") Bạn chưa làm bài này
                    
        .mt-4
            a(href="#")
                img.img--full(src="./img/banners/banner-02.jpg", alt="")

build/lessons.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <title>title</title>
    <link rel="icon" href="./img/favicon.png">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&amp;family=Prompt:ital,wght@0,400;0,500;0,600;1,400&amp;display=swap" rel="stylesheet">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Style from all library-->
    <link rel="stylesheet" href="./css/vendor.min.css">
    <!-- Site template-->
    <link rel="stylesheet" href="./css/main.css"><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on"><![endif]-->
  </head>
  <body>
    <div class="l-container">
      <!-- START HEADER-->
      <div class="l-header">
        <div class="container">
          <div class="c-header">
            <div class="c-header__logo"><a href="./"><img src="./img/logo.png" alt=""></a></div>
            <div class="c-header__more">
              <div class="c-header__users mb-4"><a href="#" class="btn btn-primary text-uppercase mr-5">Đăng ký</a><a href="#" class="btn btn-primary text-uppercase">Đăng nhập</a></div>
              <div class="c-header__social">
                <div class="c-social">
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-google-plus-g"></i></a></div>
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-facebook-f"></i></a></div>
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-instagram"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-navbar">
            <ul class="navbar">
              <li class="active"><a href="./index.html"><i class="fas fa-home"></i></a></li>
              <li><a href="#">Video bài giảng</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Học từ vựng</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Từ điển</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Nền tảng</a></li>
              <li><a href="#">4.5 ielts</a></li>
              <li><a href="#">5.5 ielts</a>
                <div class="navsub navsub--right">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">6.5 ielts</a>
                <div class="navsub navsub--right">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Toic</a></li>
            </ul>
          </div>
          <div><a href="#"><img src="./img/banners/banner-01.jpg" alt="" class="img--full"></a></div>
        </div>
      </div>
      <!-- CLOSE HEADER-->
      <!-- START CONTENT-->
      <div class="l-content">
        <div class="container">
          <div class="c-breadcrumb mb-4">
            <ul class="breadcrumb">
              <li><a href="#">Học bài 1</a></li>
            </ul>
          </div>
          <div class="c-lessons">
            <div class="c-lessons__item">
              <div class="c-lessons__main">
                <div class="card-lesson">
                  <div class="card-lesson__image"><img src="./img/lessons/lesson-01/lesson-thumbnail.jpg" alt=""></div>
                  <div class="card-lesson__content">
                    <div class="card-lesson__header">
                      <h4 class="text-uppercase font-weight-normal">Bài giảng bài 1</h4>
                    </div>
                    <div class="card-lesson__body">
                      <h4 class="text-uppercase">Từ vựng</h4>
                    </div>
                    <div class="card-lesson__footer"><a href="./vocabulary.html" class="btn btn-dark">Học ngay</a></div>
                  </div>
                </div>
              </div>
              <div class="c-lessons__side">
                <div class="card-lesson__content">
                  <div class="card-lesson__header">
                    <h4 class="text-uppercase font-weight-normal">Bài giảng bài 1</h4>
                  </div>
                  <div class="card-lesson__body">
                    <h4 class="text-uppercase">Thực hành từ vựng</h4>
                  </div>
                  <div class="card-lesson__footer"><a href="#" class="btn btn-dark">Điểm: 0/30</a></div>
                </div>
              </div>
            </div>
            <div class="c-lessons__item">
              <div class="c-lessons__main">
                <div class="card-lesson">
                  <div class="card-lesson__image"><img src="./img/lessons/lesson-02/lesson-thumbnail.jpg" alt=""></div>
                  <div class="card-lesson__content">
                    <div class="card-lesson__header">
                      <h4 class="text-uppercase font-weight-normal">Bài giảng bài 1</h4>
                    </div>
                    <div class="card-lesson__body">
                      <h4 class="text-uppercase">Ngữ pháp phần 1</h4>
                      <p><i>The present simple</i></p>
                    </div>
                    <div class="card-lesson__footer"><a href="./grammar.html" class="btn btn-dark">Học ngay</a></div>
                  </div>
                </div>
              </div>
              <div class="c-lessons__side">
                <div class="card-lesson__content">
                  <div class="card-lesson__header">
                    <h4 class="text-uppercase font-weight-normal">Bài tập bài 1</h4>
                  </div>
                  <div class="card-lesson__body">
                    <h4 class="text-uppercase">Thực hành ngữ pháp 1</h4>
                    <p><i>The present simple</i></p>
                  </div>
                  <div class="card-lesson__footer"><a href="#" class="btn btn-dark">Điểm: 0/30</a></div>
                </div>
              </div>
            </div>
            <div class="c-lessons__item">
              <div class="c-lessons__main">
                <div class="card-lesson">
                  <div class="card-lesson__image"><img src="./img/lessons/lesson-03/lesson-thumbnail.jpg" alt=""></div>
                  <div class="card-lesson__content">
                    <div class="card-lesson__header">
                      <h4 class="text-uppercase font-weight-normal">Bài giảng bài 1</h4>
                    </div>
                    <div class="card-lesson__body">
                      <h4 class="text-uppercase">Ngữ pháp phần 2</h4>
                      <p><i>The present simple</i></p>
                    </div>
                    <div class="card-lesson__footer"><a href="#" class="btn btn-dark">Học ngay</a></div>
                  </div>
                </div>
              </div>
              <div class="c-lessons__side">
                <div class="card-lesson__content">
                  <div class="card-lesson__header">
                    <h4 class="text-uppercase font-weight-normal">Bài tập bài 1</h4>
                  </div>
                  <div class="card-lesson__body">
                    <h4 class="text-uppercase">Thực hành ngữ pháp 2</h4>
                    <p><i>The present simple</i></p>
                  </div>
                  <div class="card-lesson__footer"><a href="#" class="btn btn-dark">Điểm: 0/30</a></div>
                </div>
              </div>
            </div>
            <div class="c-lessons__item">
              <div class="c-lessons__main">
                <div class="card-lesson">
                  <div class="card-lesson__image"><img src="./img/lessons/lesson-04/lesson-thumbnail.jpg" alt=""></div>
                  <div class="card-lesson__content">
                    <div class="card-lesson__header">
                      <h4 class="text-uppercase font-weight-normal">Bài giảng bài 1</h4>
                    </div>
                    <div class="card-lesson__body">
                      <h4 class="text-uppercase">Ngữ pháp phần 3</h4>
                      <p><i>The present simple</i></p>
                    </div>
                    <div class="card-lesson__footer"><a href="#" class="btn btn-dark">Học ngay</a></div>
                  </div>
                </div>
              </div>
              <div class="c-lessons__side">
                <div class="card-lesson__content">
                  <div class="card-lesson__header">
                    <h4 class="text-uppercase font-weight-normal">Bài tập bài 1</h4>
                  </div>
                  <div class="card-lesson__body">
                    <h4 class="text-uppercase">Thực hành ngữ pháp 3</h4>
                    <p><i>The present simple</i></p>
                  </div>
                  <div class="card-lesson__footer"><a href="#" class="btn btn-dark">Điểm: 0/30</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-improve-skills">
            <div class="c-improve-skills__header">
              <h2 class="heading-primary text-uppercase mb-10"><span>Luyện kỹ năng</span></h2>
            </div>
            <div class="c-improve-skills__body">
              <div class="list-skills">
                <div class="list-skills__item">
                  <div class="card-skill">
                    <div class="card-skill__header"><img src="./img/icons/icon-listen.png" alt=""></div>
                    <div class="card-skill__body">
                      <h4>Nghe</h4>
                      <p>Nghe chủ đề bạn bè và<br>giới thiệu bản thân</p>
                    </div>
                    <div class="card-skill__footer"><a href="#" class="btn btn-primary">Bạn chưa làm bài này</a></div>
                  </div>
                </div>
                <div class="list-skills__item">
                  <div class="card-skill">
                    <div class="card-skill__header"><img src="./img/icons/icon-read.png" alt=""></div>
                    <div class="card-skill__body">
                      <h4>Đọc</h4>
                      <p>Nghe chủ đề bạn bè và<br>giới thiệu bản thân</p>
                    </div>
                    <div class="card-skill__footer"><a href="#" class="btn btn-primary">Bạn chưa làm bài này</a></div>
                  </div>
                </div>
                <div class="list-skills__item">
                  <div class="card-skill">
                    <div class="card-skill__header"><img src="./img/icons/icon-write.png" alt=""></div>
                    <div class="card-skill__body">
                      <h4>Viết</h4>
                      <p>Nghe chủ đề bạn bè và<br>giới thiệu bản thân</p>
                    </div>
                    <div class="card-skill__footer"><a href="#" class="btn btn-primary">Bạn chưa làm bài này</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4"><a href="#"><img src="./img/banners/banner-02.jpg" alt="" class="img--full"></a></div>
        </div>
      </div>
      <!-- CLOSE CONTENT-->
      <!-- START FOOTER-->
      <div class="l-footer">
        <div class="container">
          <div class="c-footer-sitemap">
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Content</h6>
                <ul>
                  <li><a href="#">Top icons</a></li>
                  <li><a href="#">New icons</a></li>
                  <li><a href="#">New packs</a></li>
                  <li><a href="#">Tags</a></li>
                  <li><a href="#">Categories</a></li>
                  <li><a href="#">Authors</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Apps</h6>
                <ul>
                  <li><a href="#">API</a></li>
                  <li><a href="#">@font-face generator</a></li>
                  <li><a href="#">Patterns generator</a></li>
                  <li><a href="#">Google Suite</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Content</h6>
                <ul>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Icon styles</a></li>
                  <li><a href="#">Icons editor</a></li>
                  <li><a href="#">Flaticon Collection</a></li>
                  <li><a href="#">Follow</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Company</h6>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Our license</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Affiliation</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Plans and Pricing</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="c-footer-infor">
            <p>TiếngAnh123.Com - a product of BeOnline Co., Ltd.</p>
            <p>Giấy phép ĐKKD số: 0102852740 cấp bởi Sở Kế hoạch và Đầu tư Hà Nội.<br>Giấy phép đào tạo tiếng Anh số: 9816/QĐ-SGD&amp;ĐT cấp bởi Sở Giáo dục và Đào tạo Hà Nội.<br>Giấy phép cung cấp dịch vụ mạng xã hội học tiếng Anh trực tuyến số: 549/GP-BTTTT cấp bởi Bộ Thông tin &amp; Truyền thông.<br>Địa chỉ: số nhà 13,23, ngõ 259/9 phố Vọng, Đồng Tâm, Hai Bà Trưng, Hà Nội.</p>
          </div>
        </div>
      </div>
      <!-- CLOSE FOOTER-->
    </div>
    <!-- Jquery library-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Javascript form all library-->
    <script src="./js/vendor.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Site Javascript-->
    <script src="./js/scripts.js"></script>
  </body>
</html>
