build/vocabulary-practice.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <title>title</title>
    <link rel="icon" href="./img/favicon.png">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&amp;family=Prompt:ital,wght@0,400;0,500;0,600;1,400&amp;display=swap" rel="stylesheet">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Style from all library-->
    <link rel="stylesheet" href="./css/vendor.min.css">
    <!-- Site template-->
    <link rel="stylesheet" href="./css/main.css"><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on"><![endif]-->
  </head>
  <body>
    <div class="l-container">
      <!-- START HEADER-->
      <div class="l-header">
        <div class="container">
          <div class="c-header">
            <div class="c-header__logo"><a href="./"><img src="./img/logo.png" alt=""></a></div>
            <div class="c-header__more">
              <div class="c-header__users mb-4"><a href="#" class="btn btn-primary text-uppercase mr-5">Đăng ký</a><a href="#" class="btn btn-primary text-uppercase">Đăng nhập</a></div>
              <div class="c-header__social">
                <div class="c-social">
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-google-plus-g"></i></a></div>
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-facebook-f"></i></a></div>
                  <div class="c-social__item"><a href="#" class="c-social__link"><i class="fab fa-instagram"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-navbar">
            <ul class="navbar">
              <li class="active"><a href="./index.html"><i class="fas fa-home"></i></a></li>
              <li><a href="#">Video bài giảng</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Học từ vựng</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Từ điển</a>
                <div class="navsub">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Nền tảng</a></li>
              <li><a href="#">4.5 ielts</a></li>
              <li><a href="#">5.5 ielts</a>
                <div class="navsub navsub--right">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">6.5 ielts</a>
                <div class="navsub navsub--right">
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                  <ul>
                    <li><a href>Tiếng Anh Mầm Non</a></li>
                    <li><a href>Tiếng Anh lớp 8</a></li>
                    <li><a href>Tiếng Anh lớp 8 - mới</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Toic</a></li>
            </ul>
          </div>
          <div><a href="#"><img src="./img/banners/banner-01.jpg" alt="" class="img--full"></a></div>
        </div>
      </div>
      <!-- CLOSE HEADER-->
      <!-- START CONTENT-->
      <div class="l-content">
        <div class="container">
          <div class="c-breadcrumb mb-4">
            <ul class="breadcrumb">
              <li><a href="./lessons.html">Học từ vựng</a></li>
              <li><span>Thực hành</span></li>
            </ul>
          </div>
          <div class="c-info mb-4">(Hướng dẫn làm bài luyện tập)+ Bạn hãy click vào những từ ở cột Những từ chưa qua để chọn ra những từ để luyện tập.<br>(Bạn có thể click vào nút Select all để chọn tất cả. Nút Deselect để bỏ hết các đã từ chọn.)<br>+ Sau khi chọn xong danh sách từ cần luyện, bạn hãy click vào 1 trong 3 bài luyện tập trong cột Danh sách   bài luyện tập để làm các dạng bài tập có chứa các từ đã được chọn.<br>+ Một từ được coi là đã qua khi từ đó hoàn thành hết 3 bài luyện tập.</div>
          <div class="c-vocabulary-practice">
            <div class="c-vocabulary-practice__body">
              <div class="c-vocabulary-practice__content">
                <div class="c-vocabulary-practice__title"><span>Từ chưa học</span></div>
                <div class="c-vocabulary-practice__inner">
                  <div class="c-vocabulary-practice__wrapper">
                    <div class="c-select-group">
                      <div class="c-select-group__header">
                        <button type="button" data-select="#list-words" class="btn btn-primary btn--small btn--rounded bg-yellow-dark text-dark">Select all</button>
                        <button type="button" data-deselect="#list-words" class="btn btn-primary btn--small btn--rounded bg-yellow-dark text-dark">Deselect all</button>
                      </div>
                      <div class="c-select-group__body">
                        <ul id="list-words" class="list-words ml-4">
                          <li>
                            <label>
                              <input type="checkbox"><span>1. affect</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>2. annoy</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>3. bald</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>4. blond</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>5. character</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>6. curly</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>7. different</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>8. east</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>9. extremely</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>10. fair</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>1. affect</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>2. annoy</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>3. bald</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>4. blond</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>5. character</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>6. curly</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>7. different</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>8. east</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>9. extremely</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="checkbox"><span>10. fair     </span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-vocabulary-practice__content">
                <div class="c-vocabulary-practice__title"><span>Từ hoàn tất</span></div>
                <div class="c-vocabulary-practice__inner">
                  <div class="c-vocabulary-practice__wrapper">
                    <div class="c-select-group">
                      <div class="c-select-group__body">
                        <ul class="list-words ml-4">
                          <li><span>1. affect</span></li>
                          <li><span>2. annoy</span></li>
                          <li></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-vocabulary-practice__content">
                <div class="c-vocabulary-practice__title"><span>Danh sách bài luyện tập</span></div>
                <div class="c-vocabulary-practice__inner">
                  <div class="c-vocabulary-practice__wrapper p-3">
                    <div class="list-vocabulary-practice">
                      <div class="list-vocabulary-practice__item">
                        <div role="button" class="card-vocabulary-practice">
                          <div class="card-vocabulary-practice__image"><img src="./img/practice/practice-type-01.png" alt=""></div>
                        </div>
                      </div>
                      <div class="list-vocabulary-practice__item">
                        <div role="button" class="card-vocabulary-practice card-vocabulary-practice--clear">
                          <div class="card-vocabulary-practice__image"><img src="./img/practice/practice-type-02.png" alt=""></div>
                        </div>
                      </div>
                      <div class="list-vocabulary-practice__item">
                        <div role="button" class="card-vocabulary-practice">
                          <div class="card-vocabulary-practice__image"><img src="./img/practice/practice-type-03.png" alt=""></div>
                        </div>
                      </div>
                      <div class="list-vocabulary-practice__item">
                        <div role="button" class="card-vocabulary-practice card-vocabulary-practice--clear">
                          <div class="card-vocabulary-practice__image"><img src="./img/practice/practice-type-04.png" alt=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary btn--lg btn--rounded text-medium text-dark">LUYỆN TẬP LẠI</button>
          </div>
        </div>
      </div>
      <!-- CLOSE CONTENT-->
      <!-- START FOOTER-->
      <div class="l-footer">
        <div class="container">
          <div class="c-footer-sitemap">
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Content</h6>
                <ul>
                  <li><a href="#">Top icons</a></li>
                  <li><a href="#">New icons</a></li>
                  <li><a href="#">New packs</a></li>
                  <li><a href="#">Tags</a></li>
                  <li><a href="#">Categories</a></li>
                  <li><a href="#">Authors</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Apps</h6>
                <ul>
                  <li><a href="#">API</a></li>
                  <li><a href="#">@font-face generator</a></li>
                  <li><a href="#">Patterns generator</a></li>
                  <li><a href="#">Google Suite</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Content</h6>
                <ul>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Icon styles</a></li>
                  <li><a href="#">Icons editor</a></li>
                  <li><a href="#">Flaticon Collection</a></li>
                  <li><a href="#">Follow</a></li>
                </ul>
              </div>
            </div>
            <div class="c-footer-sitemap__item">
              <div class="c-sitemap">
                <h6>Company</h6>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Our license</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Affiliation</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Plans and Pricing</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="c-footer-infor">
            <p>TiếngAnh123.Com - a product of BeOnline Co., Ltd.</p>
            <p>Giấy phép ĐKKD số: 0102852740 cấp bởi Sở Kế hoạch và Đầu tư Hà Nội.<br>Giấy phép đào tạo tiếng Anh số: 9816/QĐ-SGD&amp;ĐT cấp bởi Sở Giáo dục và Đào tạo Hà Nội.<br>Giấy phép cung cấp dịch vụ mạng xã hội học tiếng Anh trực tuyến số: 549/GP-BTTTT cấp bởi Bộ Thông tin &amp; Truyền thông.<br>Địa chỉ: số nhà 13,23, ngõ 259/9 phố Vọng, Đồng Tâm, Hai Bà Trưng, Hà Nội.</p>
          </div>
        </div>
      </div>
      <!-- CLOSE FOOTER-->
    </div>
    <!-- Jquery library-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Javascript form all library-->
    <script src="./js/vendor.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Site Javascript-->
    <script src="./js/scripts.js"></script>
  </body>
</html>

source/jade/vocabulary-practice.jade
extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học từ vựng
                li
                    span Thực hành
        .c-info.mb-4
            | (Hướng dẫn làm bài luyện tập)+ Bạn hãy click vào những từ ở cột Những từ chưa qua để chọn ra những từ để luyện tập.
            br
            | (Bạn có thể click vào nút Select all để chọn tất cả. Nút Deselect để bỏ hết các đã từ chọn.)
            br
            | + Sau khi chọn xong danh sách từ cần luyện, bạn hãy click vào 1 trong 3 bài luyện tập trong cột Danh sách   bài luyện tập để làm các dạng bài tập có chứa các từ đã được chọn.
            br
            | + Một từ được coi là đã qua khi từ đó hoàn thành hết 3 bài luyện tập.

        .c-vocabulary-practice
            .c-vocabulary-practice__body
                .c-vocabulary-practice__content
                    .c-vocabulary-practice__title
                        span Từ chưa học
                    .c-vocabulary-practice__inner
                        .c-vocabulary-practice__wrapper
                            .c-select-group
                                .c-select-group__header
                                    button.btn.btn-primary.btn--small.btn--rounded.bg-yellow-dark.text-dark(type="button", data-select="#list-words") Select all
                                    button.btn.btn-primary.btn--small.btn--rounded.bg-yellow-dark.text-dark(type="button", data-deselect="#list-words") Deselect all
                                .c-select-group__body
                                    ul#list-words.list-words.ml-4
                                        li
                                            label
                                                input(type="checkbox")
                                                span 1. affect
                                        li
                                            label
                                                input(type="checkbox")
                                                span 2. annoy
                                        li
                                            label
                                                input(type="checkbox")
                                                span 3. bald
                                        li
                                            label
                                                input(type="checkbox")
                                                span 4. blond
                                        li
                                            label
                                                input(type="checkbox")
                                                span 5. character
                                        li
                                            label
                                                input(type="checkbox")
                                                span 6. curly
                                        li
                                            label
                                                input(type="checkbox")
                                                span 7. different
                                        li
                                            label
                                                input(type="checkbox")
                                                span 8. east
                                        li
                                            label
                                                input(type="checkbox")
                                                span 9. extremely
                                        li
                                            label
                                                input(type="checkbox")
                                                span 10. fair
                                        li
                                            label
                                                input(type="checkbox")
                                                span 1. affect
                                        li
                                            label
                                                input(type="checkbox")
                                                span 2. annoy
                                        li
                                            label
                                                input(type="checkbox")
                                                span 3. bald
                                        li
                                            label
                                                input(type="checkbox")
                                                span 4. blond
                                        li
                                            label
                                                input(type="checkbox")
                                                span 5. character
                                        li
                                            label
                                                input(type="checkbox")
                                                span 6. curly
                                        li
                                            label
                                                input(type="checkbox")
                                                span 7. different
                                        li
                                            label
                                                input(type="checkbox")
                                                span 8. east
                                        li
                                            label
                                                input(type="checkbox")
                                                span 9. extremely
                                        li
                                            label
                                                input(type="checkbox")
                                                span 10. fair     
                .c-vocabulary-practice__content
                    .c-vocabulary-practice__title
                        span Từ hoàn tất
                    .c-vocabulary-practice__inner
                        .c-vocabulary-practice__wrapper
                            .c-select-group
                                .c-select-group__body
                                     ul.list-words.ml-4
                                        li
                                            span 1. affect
                                        li
                                            span 2. annoy
                                        li
                .c-vocabulary-practice__content
                    .c-vocabulary-practice__title
                        span Danh sách bài luyện tập
                    .c-vocabulary-practice__inner
                        .c-vocabulary-practice__wrapper.p-3
                            .list-vocabulary-practice
                                .list-vocabulary-practice__item
                                    .card-vocabulary-practice(role="button")
                                        .card-vocabulary-practice__image
                                            img(src="./img/practice/practice-type-01.png", alt="")
                                .list-vocabulary-practice__item
                                    .card-vocabulary-practice.card-vocabulary-practice--clear(role="button")
                                        .card-vocabulary-practice__image
                                            img(src="./img/practice/practice-type-02.png", alt="")
                                .list-vocabulary-practice__item
                                    .card-vocabulary-practice(role="button")
                                        .card-vocabulary-practice__image
                                            img(src="./img/practice/practice-type-03.png", alt="")
                                .list-vocabulary-practice__item
                                    .card-vocabulary-practice.card-vocabulary-practice--clear(role="button")
                                        .card-vocabulary-practice__image
                                            img(src="./img/practice/practice-type-04.png", alt="")
                                    
        .text-center
            button.btn.btn-primary.btn--lg.btn--rounded.text-medium.text-dark(type="button") LUYỆN TẬP LẠI
